$color-darkgray: #333;
$color-midgray: #949494;
$color-lightgray: #ddd;
$color-lightergray: #eee;
$color-white: #fff;
$color-primary: #390099;
$color-delete: #FF0054;
$color-lighterblue: #f5fbff;
$event-colors: #390099, #2D7DD2, #FF0054, #574AE2, #820263, #006BA6;

// TODO: Add paddings, margins and font sizes
